@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0f172a;
  --secondary-color: #7dd3fc;
  --third-color: #1f232b;
  --fourth-color: #f1f1f1;

  --op-primary-color: #0f172a93;
}

body {
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-background {
  background-image: url(https://i.ibb.co/4fGqS8g/epet-image.jpg);
}
